@import url(reset.css);

#nav {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    height:38px;
}

#nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    width: 100%;
}

#nav li {
    margin: 0px;
    display:
}

#nav li a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    float: left
}

#nav li a:hover {
    color: #FFFFFF;
    background-color: #3d84d2;
}

table {
background-color: #fff;
border: 1px solid #ddd;
empty-cells: show;
font-size: 90%;
margin: 0 0 0 0;
padding: 4px;
text-align: left;
width: 100%;
}
table caption {
color: #777;
margin: 0 0 5px 0;
padding: 0;
text-align: center;
text-transform: uppercase;
}
table thead th {
border: 0;
border-bottom: 1px solid #ddd;
color: #777;
font-size: 90%;
padding: 3px 0;
margin: 0 0 5px 0;
text-align: left;
}
table tbody tr.odd {
background-color: #eff7ff;
}
table tbody tr.even {
background-color: #fff;
}
table tbody tr:hover {
background-color: #3d84d2;
}
table tbody td {
color: #888;
padding: 2px;
border: 0;
}
table tbody tr:hover td {
color: #fff;
} 

