{% macro render_pagination(pagination) %}
    <div class="pagination">
        <span class="pagination-showing">
            Showing {{ pagination.start + 1 }} to {{ pagination.stop }} of
            {{ pagination.item_count }}.
        </span>
        {% if pagination.has_prev %}
            <span class="pagination-first>">
                <a href="{{ url_for_pagination(1) }}">&laquo; first</a>
            </span>
            <span class="pagination-prev>">
                <a href="{{ url_for_pagination(pagination.page - 1) }}">
                    &lt; prev</a>
            </span>
        {% endif %}
        {% if pagination.has_next %}
            <span class="pagination-next>">
                <a href="{{ url_for_pagination(pagination.page + 1) }}">
                    next &gt;</a>
            </span>
            <span class="pagination-last>">
                <a href="{{ url_for_pagination(pagination.page_count) }}">
                    last &raquo;</a>
            </span>
        {% endif %}
        <span class="pagination-nearby">
        {% for page in pagination.iter_nearby_pages() %}
            {% if page == pagination.page %}
                <strong>{{ page }}</strong>
            {% else %}
                <a href="{{ url_for_pagination(page) }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
        </span>
    </div>
{% endmacro %}

{% macro render_outbox_page_nav(page, page_count, mstart, mstop, mtotal) %}
    <div class="outbox-page-nav">
        <span class="outbox-showing">
            Showing {{ mstart + 1 }} to {{ mstop }} of {{ mtotal }}.
        </span>
        {% if page > 1 %}
            <span class="outbox-first>">
                <a href="/outbox">&laquo; first</a>
            </span>
            <span class="outbox-prev>">
                <a href="/outbox/page/{{ page - 1 }}">&lt; prev</a>
            </span>
        {% endif %}
        {% if page < page_count %}
            <span class="outbox-next>">
                <a href="/outbox/page/{{ page + 1 }}">next &gt;</a>
            </span>
            <span class="outbox-last>">
                <a href="/outbox/page/{{ page_count }}">last &raquo;</a>
            </span>
        {% endif %}
    </div>
{% endmacro %}
