{% from "_helpers.html" import render_pagination %}

{% extends "base.html" %}

{% block body %}
    <h1>{{ _('Addressbook') }}</h1>
    <div id="addressbook_view">
    <form action="" method="post" name="adressbook">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <th>{{ form.new_address_label.label }}</th>
                <td>{{ form.new_address_label }}</td>
                <th>{{ form.new_address.label }}</th>
                <td>{{ form.new_address(size=40) }} <input type="submit" name="btn" value="{{ _('Add this as Address') }}"> <input type="submit" name="btn" value="{{ _('Add this as Chan') }}"></td>
            </tr>
        </table>
    </form>
    <br>
    {{ render_pagination(pagination) }}

    <table id="addressbook-table">
        <tr>
            <th>{{ _('Name or Label') }}</th>
            <th>{{ _('Address') }}</th>
            <th>{{ _('Action') }}</th>
        </tr>

        {% for address in addresses %}
            <tr>
                <td>{{ address.label }}</td>
                <td>{{ address.address }}</td>
                <td><a href="{{ url_for('addressbook_edit', address=address.address) }}">{{ _('Edit') }}</a>
                    <a href="{{ url_for('addressbook_remove', address=address.address) }}">{{ _('Delete') }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    {{ render_pagination(pagination) }}

{% endblock %}
