{% from "_helpers.html" import render_pagination %}

{% extends "base.html" %}

{% block body %}
    <h1>Addressbook</h1>

    <form action="" method="post" name="adressbook">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <th>{{ form.new_address_label.label }}</th>
                <td>{{ form.new_address_label }}</td>
                <th>{{ form.new_address.label }}</th>
                <td>{{ form.new_address(size=40) }} <input type="submit" value="Add this Address"></td>
            </tr>
        </table>
    </form>
    <br>
    {{ render_pagination(pagination) }}

    <table id="addressbook-table">
        <tr>
            <th>Name or Label</th>
            <th>Address</th>
            <th>Action</th>
        </tr>

        {% for address in addresses %}
            <tr>
                <td>{{ address.label }}</td>
                <td>{{ address.address }}</td>
                <td><a href="{{ url_for('addressbook_edit', address=address.address) }}">Edit</a>
                    <a href="{{ url_for('addressbook_remove', address=address.address) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {{ render_pagination(pagination) }}

{% endblock %}
