<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>BitMessage Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <header>
        <nav id="main-nav">
            <ul>
                <li><a href="{{ url_for('inbox') }}">{{ _('Inbox') }}</a></li>
                <li><a href="{{ url_for('send') }}">{{ _('Send') }}</a></li>
                <li><a href="{{ url_for('addressbook') }}">{{ _('Addressbook') }}</a></li>
                <li><a href="{{ url_for('outbox') }}">{{ _('Outbox') }}</a></li>
            </ul>
        </nav>
    </header>


    {% block body %}{% endblock %}

    <footer>
        <p><a href="https://github.com/Mattze96/BitMessageWebApp">
                {{ _('Project Web Page') }}</a></p>
    </footer>

</body>
</html>
