{% from "_helpers.html" import render_pagination %}

{% extends "base.html" %}

{% block body %}
    <h1>{{ _('Inbox') }}</h1>
    {{ render_pagination(pagination) }}

    <table id="inbox-table">
        <tr>
            <th>{{ _('Subject') }}</th>
            <th>{{ _('To') }}</th>
            <th>{{ _('From') }}</th>
            <th>{{ _('Received') }}</th>
        </tr>

        {% for message in messages %}

            <tr>
                <td><a href="{{ url_for('viewinbox', msgid=message.msgid) }}">
                    {% if message.read %}
                        {{ message.subject }}
                    {% else %}
                        <strong>{{ message.subject }}</strong>
                    {% endif %}
                </a></td>
                <td>{{ message.toAddress }}</td>
                <td>{{ message.fromAddress }}</td>
                <td>{{ message.received }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ render_pagination(pagination) }}

{% endblock %}
