{% from "_helpers.html" import render_pagination %}

{% extends "base.html" %}

{% block body %}
    <h1>{{ _('Outbox') }}</h1>
    {{ render_pagination(pagination) }}

    <table id="status-table">
        <tr>
            <th>{{ _('Subject') }}</th>
            <th>{{ _('To') }}</th>
            <th>{{ _('From') }}</th>
            <th>{{ _('LastAction') }}</th>
	        <th>{{ _('Status') }}</th>
        </tr>

        {% for message in messages %}

            <tr>
                <td><a href="/viewoutbox/{{ message.msgid }}">{{ message.subject }}</a></td>
                <td>{{ message.toAddress }}</td>
                <td>{{ message.fromAddress }}</td>
                <td>{{ message.lastActionTime }}</td>
                <td>{{ message.status }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ render_pagination(pagination) }}

{% endblock %}
