{% extends "base.html" %}

{% block body %}
    <h1>{{ _('View Message') }}</h1>
    <div id="message-view">
        <table>
            <tr>
                <th>{{ _('Subject') }}:</th>
                <td>{{ message.subject }}</td>
            </tr>
            <tr>
                <th>{{ _('To') }}:</th>
                <td>{{ message.toAddress }}</td>
            </tr>
            <tr>
                <th>{{ _('From') }}:</th>
                <td>{{ message.fromAddress }}</td>
            </tr>
        </table>
        <br>
        <form action="" method="post" name="checkbox">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td><input type="submit" name="btn" value="{{ _('ViewHTML') }}"> <input type="submit" name="btn"
value="{{ _('ViewNormal') }}"></td>
                </tr>
            </table>
        </form>
        <br>
        <pre>{% if viewhtml %}
{{ message.message | wordwrap(width=150) }}
            {% else %}
{{ message.message | wordwrap(width=150) | safe }}
            {% endif %}</pre>
    </div>
{% endblock %}
