{% extends "base.html" %}

{% block body %}
    <h1>View Message</h1>
    <div id="message-view">
        <table>
            <tr>
                <th>Subject:</th>
                <td>{{ message.subject }}</td>
            </tr>
            <tr>
                <th>To:</th>
                <td>{{ message.toAddress }}</td>
            </tr>
            <tr>
                <th>From:</th>
                <td>{{ message.fromAddress }}</td>
            </tr>
        </table>

        <pre>
{{ message.message | safe }}
        </pre>
    </div>
{% endblock %}
