<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8" />
  <title>BitMessage Web App</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>


<body>

  <header>

    <hgroup>
      <h1>BitMessage Web App</h1>
      <h2>Web view of BitMessage JSON-RPC interface for viewing and sending
          messages.</h2>
    </hgroup>

    <nav>
      <ul>
        <li><a href="/">Inbox</a></li>
        <li><a href="/sentmessages">Sent</a></li>
        <li><a href="debug">Debug</a></li>
      </ul>
    </nav>

  </header>


  {% block body %}{% endblock %}


  <footer>


    <p><a href="https://github.com/Mattze96/BitMessageWebApp">
            Project Web Page</a></p>

  </footer>

</body>
</html>