<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8" />
  <title>BitMessage Web App</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>


<body>

  <header>

    <hgroup>
      <h1>BitMessage Web App</h1>
      <h2>Web view of BitMessage JSON-RPC interface for viewing and sending
          messages.</h2>
    </hgroup>

got menu from http://sperling.com/examples/menuh/
<br><br>
<div id="menuh-container">
<div id="menuh">
	<ul>
		<li><a href="/" class="top_parent">Inbox</a>
		<ul>
			<li><a href="/inbox_show" class = parent>Show</a></li>
			<li><a href="/" class="parent">##</a>
				<ul>
				<li><a href="#">Write</a></li>
				<li><a href="#">Sub 1:5:2</a></li>
				<li><a href="#">Sub 1:5:3</a></li>
				<li><a href="#">Sub 1:5:</a></li>
				<li><a href="#">Sub 1:5:5</a></li>
				</ul>
			</li>
		</ul>
		</li>
	</ul>
	
	<ul>	
		<li><a href="/sentmessages">Sent</a></li>
	</ul>
	<ul>	
		<li><a href="/debug">Debug</a></li>
	</ul>
</div> 	<!-- end the menuh-container div -->  
</div>	<!-- end the menuh div --> 
 				

  </header>


  {% block body %}{% endblock %}


  <footer>


    <p><a href="https://github.com/Mattze96/BitMessageWebApp">
            Project Web Page</a></p>

  </footer>

</body>
</html>
