{% from "_helpers.html" import render_inbox_page_nav %}

{% extends "base.html" %}

{% block body %}

    {{ render_inbox_page_nav(page, page_count, mstart, mstop, mtotal) }}

    <table id="inbox-table">
        <tr>
            <th>Subject</th>
            <th>To</th>
            <th>From</th>
            <th>Received</th>
        </tr>

        {% for message in messages %}

            <tr>
                <td><a href="/view/{{ message.msgid }}">
                    {% if message.read %}
                        {{ message.subject }}
                    {% else %}
                        <strong>{{ message.subject }}</strong>
                    {% endif %}
                </a></td>
                <td>{{ message.toAddress }}</td>
                <td>{{ message.fromAddress }}</td>
                <td>{{ message.received }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ render_inbox_page_nav(page, page_count, mstart, mstop, mtotal) }}

{% endblock %}
